<div class="container">
  <h2>To-Do Lists</h2>
  <ul class="todo-list">
    <li *ngFor="let list of todoLists">
      <h3>{{ list.name }}</h3>
      <button (click)="deleteTodoList(list.id)" class="delete-button">Delete</button>
      <ul class="todo-list">
        <li *ngFor="let item of list.items" class="todo-item">
          {{ item.title }}
          <button (click)="deleteTodoItem(list.id, item.id)" class="delete-button">Delete</button>
        </li>
      </ul>
      <input [(ngModel)]="title" placeholder="New item" />
      <button (click)="addTodoItem(list.id, '', 0)" class="add-button">Add Item</button>
    </li>
  </ul>
  <input [(ngModel)]="newListName" placeholder="New list name" />
  <button (click)="addTodoList()" class="add-button">Add List</button>
</div>
